<div class=" container d-grid gap-2 d-md-flex justify-content-md-end">
    <h1 class="justify-content-center tittle  mx-auto d-block"> &nbsp; &nbsp; &nbsp; ATTRIBUTES LIST</h1>
    <button attributes="button" class="btn btn-outline-dark " (click)="this.goBackBtn()">Go Back</button>
</div>

<div class="update">
    <div class="row">
        <div class="col-md-12">
            <form #AttributesForm="ngForm" (ngSubmit)="this.submitSendDatas(AttributesForm.value)">
                <div class="sizeForm"></div>

                <div class="form-group texto">
                    <label for="id?" class=""><b>ID Attributes</b> </label>
                    <br>
                    {{ attributesForm.id }}
                </div>
                <br>
                <div class="form-group">
                    <label for="name" class="texto"> Attributes Name </label>
                    <br>
                    <input attributes="text" class="form-control" name="name" id="name"
                        [(ngModel)]="this.attributesForm.name" placeholder="Coche / Fruta / Guitarra / etc">
                </div>
                <br>
                <div class="form-group">
                    <label for="description" class="texto"> Attributes Description </label>
                    <br>
                    <input attributes="text" class="form-control" name="description" id="description"
                        [(ngModel)]="this.attributesForm.description" placeholder="Coche / Fruta / Guitarra / etc">
                </div>

                <div class="form-group">
                    <label for="name" class="texto"> Data Type </label>
                    <br>
                    <input attributes="text" class="form-control" name="valueType" id="valueType"
                        [(ngModel)]="this.attributesForm.valueType" placeholder="Coche / Fruta / Guitarra / etc">
                </div>

                <br>

                <div class="bosCenter">
                    <button attributes="submit" class="btn btn-outline-dark"> Send Datas </button>
                </div>
            </form>
        </div>
    </div>
</div>