<div class="container d-grid gap-2 d-md-flex justify-content-md-end ">
    <h1 class="justify-content-center tittle mx-auto d-block top"> &nbsp; &nbsp; &nbsp; PRODUCTS LIST</h1>
    <button type="button" class="btn btn-outline-dark" (click)="this.goBackBtn()">
      Go Back
    </button>
  </div>

  <div>
    <div class="divFirstCard">
      <label class="labelCard">
        <h1>
          {{ product?.name }}
          <!-- Data Binding: Recoge del componente. -->
        </h1>
      </label>
    </div>
    <div class="divtable">
      <table class="table">
        <tbody>
          <tr class="trUser2">
            <td class="tdCardNormal"><b><h3>Id</h3></b></td>
            <td class="tdUserNormal">{{ product?.id }}</td>
          </tr>

          <tr class="trUser2">
            <td class="tdCardNormal"><b><h3>Name</h3></b></td>
            <td class="tdUserNormal">{{ product?.name }}</td>
          </tr>

          <tr class="trUser2">
            <td class="tdCardNormal"><b><h3>Stock</h3></b></td>
            <td class="tdUserNormal">{{ product?.stock }}</td>
          </tr>
          <tr class="trUser2">
            <td class="tdCardNormal"><b><h3>Type</h3></b></td>
            <td class="tdUserNormal">{{ product?.type?.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <br>

    <div class="divtable">
      <table class="table1 table tableUser" >
          <thead>
            <tr class="trUser">
              <th scope="col" class=""> Attribute Name</th>
              <th scope="col" class=""> Value </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of this.listProductAttribute; let i = index" class="trUser">
              <td class=""> {{item?.attributeName}} </td>
              <td class=""> {{item?.value}} </td>
            </tr>
          </tbody>
        </table>
      </div>

  </div>


