
  <div class="container d-grid gap-2 d-md-flex justify-content-md-end ">
    <h1 class="justify-content-center tittle mx-auto d-block "> &nbsp; &nbsp; &nbsp; TYPES LIST</h1>
    <button type="button" class="btn btn-outline-dark" (click)="this.goBackBtn()">
      Go Back
    </button>
  </div>

  <div>
    <div class="divFirstCard">
      <label class="labelCard">
        <h1>
          {{ type?.name }}
          <!-- Data Binding: Recoge del componente. -->
        </h1>
      </label>
    </div>
    <div class="divtable">
      <table class="table">
        <tbody>
          <tr class="trUser2">
            <td class="tdCardNormal"><b><h3>Id</h3></b></td>
            <td class="tdUserNormal">{{ type?.id }}</td>
          </tr>

          <tr class="trUser2">
            <td class="tdCardNormal"><b><h3>Name</h3></b></td>
            <td class="tdUserNormal">{{ type?.name }}</td>
          </tr>

          <tr class="trUser2">
            <td class="tdCardNormal"><b><h3>Descripcion</h3></b></td>
            <td class="tdUserNormal">{{ type?.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
