
<div class=" container d-grid gap-2 d-md-flex justify-content-md-end">
    <h1 class="justify-content-center  mx-auto d-block">TYPES LIST</h1>
    <button type="button" class="btn btn-warning " (click)="this.goBackBtn()">Go Back</button>
</div>

<div class="allBlock boxCenter boxRead">
    <div class="divFirstCard">
        <label class="labelCard">
            <h2>
                {{type?.name}} <!-- Data Binding: Recoge del componente. -->
            </h2>
        </label>
    </div>
    <div lass="allBlock boxCenter boxRead">
        <table class="table boxReadAll">
            <tbody>
                <tr class="trUser">
                    <td class="tdCardNormal"> Id </td>
                    <td class="tdUserNormal"> {{type?.id}} </td>
                </tr>

                <tr class="trUser">
                    <td class="tdCardNormal"> Name </td>
                    <td class="tdUserNormal"> {{type?.name}} </td>
                </tr>

                <tr class="trUser">
                    <td class="tdCardNormal"> Description </td>
                    <td class="tdUserNormal"> {{type?.description}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
