<p>list-membership-component works!</p>

<div class=" container d-grid gap-2 d-md-flex justify-content-md-end">
    <h1 class="justify-content-center  mx-auto d-block"> &nbsp; &nbsp; &nbsp; MEMBERSHIP LIST</h1>
    <button type="button" class="btn btn-outline-dark button1 " (click)="this.createMembershipBtn()">Create Membership</button>
</div>

<table class="table tableUser" >
  <thead>
    <tr class="trUser">
      <th scope="col" class="" (click)="this.orderById()">Id</th>
      <th scope="col" class="" (click)="this.orderByName()">Name</th>
      <th scope="col" class="" (click)="this.orderByPrice()">Price</th>
      <th scope="col" class="">Show More</th>
      <th scope="col" class="">Update</th>
      <th scope="col" class="">Delete</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of this.allDatas; let i = index" class="trUser">
      <td class=""> {{item?.id}} </td>
      <td class=""> {{item?.name}} </td>
      <td class=""> {{item?.price}} </td>
      <td class=""> 
          <button type="button" class="btn btn-outline-success btnCommon" (click)="this.showMembershipBtn(item)"> SHOW </button> 
      </td>
      <td class="tdUserNormal"> 
          <button type="button" class="btn btn-outline-warning btnCommon" (click)="this.updateMembershipBtn(item)"> UPDATE </button> 
      </td>
      <td class="tdUserNormal"> 
          <button type="button" class="btn btn-link btnCommon" style="color: red" (click)="this.deleteMembershipBtn(item)"> DELETE </button> 
      </td>
    </tr>
  </tbody>
</table>