
<div class=" container d-grid gap-2 d-md-flex justify-content-md-end">
    <h1 class="justify-content-center tittle mx-auto d-block "> &nbsp; &nbsp; &nbsp; MEMBERSHIP LIST</h1>
    <button type="button" class="btn btn-outline-dark" (click)="this.goBackBtn()">Go Back</button>
</div>


<div>
    <div class="divFirstCard">
        <label class="labelCard">
            <h1>
                {{membership?.name}} <!-- Data Binding: Recoge del componente. -->
            </h1>
        </label>
    </div>
    <div class="divtable">
        <table class="table">
            <tbody>
                <tr class="trUser2">
                    <td class="tdCardNormal"> <b><h3>Id</h3></b></td>
                    <td class="tdUserNormal"> {{membership?.id}} </td>
                </tr>

                <tr class="trUser2">
                    <td class="tdCardNormal"> <b><h3>Name</h3></b> </td>
                    <td class="tdUserNormal"> {{membership?.name}} </td>
                </tr>

                <tr class="trUser2">
                    <td class="tdCardNormal"> <b><h3>Price</h3></b> </td>
                    <td class="tdUserNormal"> {{membership?.price}} </td>
                </tr>
<!--
                <tr class="trUser">
                    <td class="tdCardNormal"> Users </td>
                    <button type="button" class="btn btn-primary btnCommon" (click)="this.showUsersBtn()"> Users </button>
                </tr>
-->
            </tbody>
        </table>
        
    </div>

<div>